body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    border: 2px solid green;
}

.error-border {
    border: 2px solid red;
}

#successMsg {
    color: green;
    margin-top: 10px;
}
